###### Requirements without Version Specifiers ######`
attrdict
scipy
mujoco
matplotlib
transforms3d
opencv-python
git+https://github.com/utiasSTARS/liegroups.git
toml
tqdm

###### Requirements with Version Specifiers ######
