###### Requirements without Version Specifiers ######`
scipy
mujoco
matplotlib
transforms3d
opencv-python
git+https://github.com/utiasSTARS/liegroups.git

###### Requirements with Version Specifiers ######`
